@model ShopApp.WebUI.Models.Product
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scle=" 1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Product</title>
</head>
<body>
    <p>Ürün adı:@Model.Name</p>
    <p>Ürün fiyatı:@Model.Price</p>
    <p>Ürün açıklaması:@Model.Description</p>
</body>
</html>        